// COLORS
$color-primary:#942404;
$color-secondary:#FBBB3B;

$color-grey-light-1:#f2f2f2;
$color-grey-light-2:#d0d0d0;
$color-grey-dark-1:#454545;
$color-grey-dark-2: #838383;
$color-white:#fff;
$color-black:#343434;

